.filtro-column {
    height: fit-content;
    padding: 1rem 1rem;
    border: #082b557c 1px solid;
    border-radius: 0.375rem;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    margin-bottom: 1rem;
}

.filtro-column label {
    display: block;
    margin-bottom: 10px;
}

.filtro-column select,
.filtro-column input[type="text"],
.filtro-column input[type="range"] {
    width: 100%;
    background: transparent;
    color: white;
    border: 1px solid #082b557c;
    border-radius: 4px;
    padding: 5px;
}

.filtro-column h2 {
    color: white;
    margin-bottom: 20px;
}

.filtro-column span {
    display: block;
    color: white;
    margin-top: 10px;
}

.filtro-column select,
.filtro-column input[type="text"] {
    background-color: rgba(0, 0, 0, 0.5);
}

.filtro-column select option {
    background-color: black;
}