.mainTitle {
    font-size: 3rem;
    text-align: start;
    color: orange;
}

.subTitle {
    font-size: 1.5rem;
    text-align: start;
    color: #eeeeee;
}

.latiasLogo {
    width: 15rem;
    margin: auto;
    transition: .5s all;
}

.topBoat {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -45%;
    left: 55vw;
    z-index: -1;
}

.topBoat img {
    width: 80%;
    border-radius: 800px;
    filter: contrast(1.1) brightness(1.1) drop-shadow(0 0 10px black);
}