.cartaCurso {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all .5s ease;
}

.cartaCurso:hover {
    transition: all .5s ease;
    transform: translatey(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}