.navbar {
    width: 98vw;
    padding: 1rem 1vw 0 1vw;
}

.logoHorizontal {
    width: 25vh;
}

.nav-item {
    font-size: 1.2rem;
    color: white;
    margin: 5px .8rem;
/*  */
    transition: .5s all;
    text-align: center;
}

.btnPlataforma {
    color: orange;
    transition: .5s all;
}

.btnPlataforma:hover {
    color: white !important;
    filter: drop-shadow(0 0 3px black);
    transition: .5s all;
}

.nav-item:hover {
    color: orange;
}