footer {
    color: rgb(201, 201, 201);
    min-height: 3vh;
    height: auto;
    align-items: center;
    width: 95vw;
}

a {
    color: rgb(201, 201, 201);
    text-decoration: none;
}

.derechosRes {
    font-size: .8rem;
}

.socialMediaIcons a:hover {
    color: orange;
    transition: .5s all;
}

.socialMediaIcons a {
    margin: 0 .5rem;
    transition: .5s all;
}

.logoJPCdiv {
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}

.logoJPC {
    filter: invert(.8);
    width: 1.5rem;
}

.logoJPCdiv p {
    margin: 0;
}