.services-card-div {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}

.services-card-div i {
  font-size: xx-large;
}

.transform-180 {
  transform: rotate(180deg);
}

.gestoria-banner {
  position: relative;
  height: 14vw;
  padding: 1rem;
  overflow: hidden;
}

.gestoria-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/servicios-gestoria.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.4;
  z-index: 0;
}

.gestoria-banner > * {
  position: relative;
  z-index: 1;
}

.index-sub-title {
  text-shadow: black 1px 1px 7px;
}

.contact-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-v1 {
  margin-bottom: 2vh;
}

.input-v1 input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  margin-top: 1vh;
  padding-left: 1vw;
}

.input-v1 input:focus,
.input-textarea textarea:focus {
  outline: none;
}

.input-textarea {
  margin-bottom: 2vh;
}

.input-textarea textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  margin-top: 1vh;
  padding-left: 1rem;
  height: 35vh;
}

.submit-cont {
  display: flex;
  justify-content: center;
}

#submit-btn {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}

#submit-btn:hover {
  color: rgb(210, 136, 0);
  transition: 0.5s;
}